# for 'Connected via IPv6' image
<Files "*.png">
    FileEtag None
    Header set Cache-Control no-store
</Files>

<If "%{REQUEST_URI} == '/img/connected/via.png'">
    <If "%{IPV6} == 'on'">
        RewriteEngine on
        RewriteRule .* /img/connected/via_ipv6.png [L]
    </If>
    <Else>
        RewriteEngine on
        RewriteRule .* /img/connected/via_ipv4.png [L]
    </Else>
</If>
