{# pre-processed jinja2 with template_items.json #}
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">devel::keys.jp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      # for item in items:
        # if item.is_enable:
          # if item.is_active:
            {% set li_active_class='active' %}
            {% set active_info='<span class=\"sr-only\">(current)</span>' %}
          # else:
            {% set li_active_class='' %}
            {% set active_info='' %}
          # endif
          <li class="nav-item {{ li_active_class }}">
            <a class="nav-link" href="{{ item.href }}">{{ item.name }} {{ active_info }}</a>
          </li>
        # endif
      # endfor
      </ul>
    </div>
  </nav>
</header>
